/* Default styles for desktop (1024px and up) */
.body {
  min-width: none;
  max-width: 1024px;
}

/* Tablet (768px to 1023px) */
@media (max-width: 1023px) and (min-width: 768px) {
  body {
    font-size: 16px;
    max-width: 1023px;
    min-width: 768px;
    background-color: aqua;
  }

  .mainheader nav {
    display: none;
  }
}

/* Mobile (767px and below) */
@media (max-width: 767px) {
  body {
    font-size: 14px;
    max-width: 767px;
    min-width: none;
    background-color: blueviolet;
  }
}
